@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --ct-bg-primary:#FFF;
  --ct-bg-secondary: #C8C8C8;
  --ct-bg-tertiary: #3C9AF0;

  --ct-font-primary: #FFF;
  --ct-fonte-secondary: #5E5E5E;
  --ct-font-tertiary: #3C9AF0;

  --ct-card-bg: #D9D9D9;
  --ct-card-border: #3C9AF0;

  --ct-footer-bg: #3C9AF0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--ct-bg-primary);
}

/* Generic Styles */

.ct-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.ct-mb20 {
  margin-bottom: 20px;
}
